.ICEauthority
.Xauthority
.appcfg_cookies
.appcfg_nag
.aspell.*
.audacity-data/
.config/
.dbus/
.dmesgs
.fehrc
.fontconfig/
.fonts.cache-1
.fonts.conf
.gconfd/
.gegl-0.0/
.gem
.gimp*
.gnashpluginrc
.gnome/
.gnuplot_history
.inkscape/
.links/
.local/
.mcop/
.mcoprc
.mozilla/
.mplayer/
.mysql_history
.ncftp
.purple/
.qt/
.raggle/
.recently-used.xbel
.serverauth.*
.sqlite_history
.ssh/id_dsa
.subversion/
.svnrepo/
.symon/
.thumbnails/
.thunderbird/
.trac/
.vim/viminfo
.vim/undo
.vim/backup
.vim/swp
.vim/.netrwhist
.xsession-errors
Desktop/
torrents/
work/
Downloads/
.gem
.irssi
.lyrics
.netrc
.service_proxy_dir
.dvdcss
Documents
Library
Movies
Music
Pictures
.Trash
.CFUserTextEncoding
.cups
.inkscape-etc
.lesshst
.org.eclipse.*
Sites
.eclipse
.netbeans
.pgpass
.psql_history
.MacOSX
.adobe
.bash_history
.cache
Notes
audio
video.DS_Store
.Maildir/
._.DS_Store
.DS_Store
.aucat_cookie
.cache/
.cvsync/
