.appcfg_cookies
.appcfg_nag
.avidemux
.btpd/
.ICEauthority
.Xauthority
.aspell.en.prepl
.aspell.en.pws
.audacity-data/
.config/
.dbus/
.dmesgs
.easytag/
.fehrc
.fontconfig/
.fonts.cache-1
.fonts.conf
.gconfd/
.gegl-0.0/
.gimp-2.4/
.gimp-2.6/
.gnashpluginrc
.gnome/
.gnuplot_history
.gstreamer-0.10/
.gtk-recordmydesktop
.gtkpod/
.inkscape/
.kde/
.libdvd/
.links/
.local/
.mcop/
.mcoprc
.mozilla/
.mplayer/
.mutt/
.mysql_history
.ncftp
.purple/
.qt/
.raggle/
.recently-used.xbel
.serverauth.*
.sqlite_history
.subversion/
*.swp
.svnrepo/
.symon/
.ssh/id_dsa
.ssh/known_hosts
.thumbnails/
.thunderbird/
.trac/
.viminfo
.vlc/
.xsession-errors
Desktop/
cert/
index.txt
music-ls.txt
old-home.tgz
torrents/
work/
*.mp3
*.mp4
*.core
linkchecker-out.html
.gem
.irssi
.lyrics
.mutt.personal
.netrc
.service_proxy_dir
