[user]
	name = Alex Holst
	email = a@mongers.org
[alias]
	co = checkout
	ci = commit 
	st = status
[color]
	diff = auto
	status = auto
	branch = auto
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
