.*
*.core
*.mp3
*.mp4
*.swp
.ICEauthority
.Xauthority
.appcfg_cookies
.appcfg_nag
.aspell.en.prepl
.aspell.en.pws
.audacity-data/
.avidemux
.btpd/
.config/
.dbus/
.dmesgs
.easytag/
.fehrc
.fontconfig/
.fonts.cache-1
.fonts.conf
.gconfd/
.gegl-0.0/
.gem
.gimp-2.4/
.gimp-2.6/
.gnashpluginrc
.gnome/
.gnuplot_history
.gstreamer-0.10/
.gtk-recordmydesktop
.gtkpod/
.inkscape/
.irssi
.kde/
.libdvd/
.links/
.local/
.lyrics
.mcop/
.mcoprc
.mozilla/
.mplayer/
.mutt.personal
.mutt/
.mysql_history
.ncftp
.netrc
.purple/
.qt/
.raggle/
.recently-used.xbel
.serverauth.*
.service_proxy_dir
.sqlite_history
.ssh/id_dsa
.ssh/known_hosts
.subversion/
.svnrepo/
.symon/
.thumbnails/
.thunderbird/
.trac/
.viminfo
.vlc/
.xsession-errors
Desktop/
Downloads/
MIRACLE/
TORI/
work/

