[user]
	name = Alex Holst
	email = a@mongers.org
[alias]
	co = checkout
	ci = commit 
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	recent = log -5 HEAD
[color]
	diff = auto
	status = auto
	branch = auto
[github]
	user = holsta
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
