# Resume between sessions/reboots
session = ~/video/torrents

# Save all files here
directory = ~/video

# IP address reported to tracker, if we're behind NAT
ip = 78.156.97.125 

# Watch a directory for new torrents, restart torrents that have been
# copied back and stop those that have been deleted.
schedule = watch_directory,5,5,load_start=~/.torrents/*.torrent
# */ fake comment end
schedule = tied_directory,5,5,start_tied=
schedule = untied_directory,5,5,close_untied=

# Move completed torrents to new
#system.method.set_key = event.download.finished,move_complete,"execute=mv,-n,$d.get_base_path=,/famholst/new/.InProgress/;d.set_directory=~/famholst/new/"

# Use a range different from WoWs bittorrent
port_range = 50000-50000

# DHT support
dht=on

# We have a fast network and a fast computer. Set limits accordingly.
#download_rate = 800
#upload_rate = 55
#max_open_files = 750
#max_open_sockets = 250
max_peers = 1000
min_peers = 200

# These three, especially hash_interval, speeds up hashing on BSD systems
#hash_read_ahead = 8
#hash_max_tries = 5
#hash_interval = 10 
