XTerm*background: black
XTerm*foreground: grey
XTerm*ColorMode*boldColors: false
XTerm*fontSize: 14
XTerm*transpscrollbar: true
XTerm*scrollbar*thickness: 4
XTerm*scrollBar: off
XTerm*termName: pcvt25
XTerm*visualBell: true
XTerm*loginShell: true
XTerm*pointerMode: 1

XLock*erasedelay: 0
XLock*mode: bouboule

XClock*analog: false
XClock*update: 1
XClock*geometry: -0-768
XClock*padding: 0
